body {
    margin-top: 53px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    position: relative;
    min-height: 100vh;
}

main {
     padding-bottom: 100px;
}

footer {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100px;
}

.everything {
     background: url('../img/world-map-background1.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
}

.navbar-fixed-top {
     /*background-color: #fff;*/
     /*border-color: #fff;*/
     border-bottom: 3px solid red;
     font-weight: bold;
}

.SekaiNewsLogo {
     height: 20px;
     /*margin-top: 8%;*/
     /*display: block;*/
     /*width: 10vw;*/
     /*opacity: 1;*/
     /*z-index: 10;*/
}

/*.topNavBarContainer {
     margin-right: 0;
     margin-left: 0;
}*/

.clock {
     margin-right: 40px;
     color: #fff;
     margin-top: 15px;
}

.social_links {
     margin-top: 8px;
}

.social_links p {
     margin-top: 8px;
}

/*.mainLogo {
     height: 1000%;
}*/

.NewsSlide {
     width: 600px;
}

.carousel-indicators {
     bottom:-10px;
}

.carousel-caption {
     bottom:-20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*.mainNewsSection {
     height: 500px;
     margin-left: 700px;
  padding-right: 250px;
}*/

.panel-default {
     background:#fff;
}

.panel-body {
     background:#fff;
}

.panel-title {
     background:#222;
     color: #fff;
     font-weight: bold;
}

.panel-heading {
     background: #222 !important;
}






