body {
    margin-top: 53px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    position: relative;
    /*min-height: 100vh;*/
}

a {
    font-family: 'Lora', serif;
}

h1, p {
    font-family: 'Slabo 27px', serif;
}

.everything {
     /*background: url('../img/world-map-background1.jpg') no-repeat center center fixed;*/
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
}

.navbar-fixed-top {
     /*background-color: #fff;*/
     /*border-color: #fff;*/
     border-bottom: 3px solid red;
     font-weight: bold;
}

.SekaiNewsLogo {
     height: 20px;
     /*margin-top: 8%;*/
     /*display: block;*/
     /*width: 10vw;*/
     /*opacity: 1;*/
     /*z-index: 10;*/
}

.clock {
     margin-right: 40px;
     color: #fff;
     margin-top: 15px;
}

.social_links {
     margin-top: 8px;
}

.social_links p {
     margin-top: 8px;
}

.NewsSlide {
     width: 570px;
}

/*.panel-default {
    background:#fff;
}

.panel-body {
    background:#fff;
}

.panel-title {
    background:#222;
    color: #fff;
    font-weight: bold;
}

.panel-heading {
    background: #222 !important;
}*/

li:hover > ul {
    display: block;
}

.pageContent {
    margin-top: 100px;
}

footer {
 color: #fff;
 background-color: #222;
}

.logoM {
    height: 20px;
}

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -142px;
}
.page-wrap:after{
    content; "";
    display: block;
}
footer, .page-wrap:after {
    height: 142px;
}

.page-wrap > .container{
    background: url('../img/world-map-background1.jpg') no-repeat center center fixed;
}